body {
  font-family: 'Montserrat', sans-serif; }

p {
  line-height: 1.714;
  margin: 0; }

h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.t-heading {
  margin: 0;
  font-size: 3rem; }
  .t-heading--centered {
    text-align: center; }

.t-paragraph {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 4.1rem; }
  .t-paragraph--centered {
    text-align: center; }
  .t-paragraph--default {
    margin: 0; }

.t-projects-heading {
  margin: 0 0 1.4rem 0;
  font-size: 2rem; }

.t-projects-description {
  margin: 0;
  font-size: 1.4rem; }

.t-footer-heading {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  color: white; }

.btn {
  color: white; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: unset;
  text-decoration: none; }

a:link {
  color: red;
  text-decoration: none; }

a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #c7b299;
  text-decoration: none; }

a:active {
  color: white;
  text-decoration: none; }

a:active {
  text-decoration: none; }

.c-counter-list {
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .c-counter-list__item {
    position: relative;
    padding-bottom: 3.2rem;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .c-counter-list__icon {
    width: 4.4rem;
    height: 4.4rem;
    margin: 0 auto 3rem auto; }
    .c-counter-list__icon img {
      width: 100%; }
  .c-counter-list__counts {
    color: white;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2.1rem; }
  .c-counter-list__info {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #c7b299; }
  .c-counter-list__underline {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .c-counter-list__underline::after {
      content: " ";
      display: block;
      border: 2px solid white;
      width: 3rem;
      margin: 0 auto; }

.c-gradient-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%); }
  .c-gradient-block__inner {
    display: flex; }
  .c-gradient-block__text {
    width: 60%; }
  .c-gradient-block__text h1 {
    margin-bottom: 0.2rem;
    color: white; }
  .c-gradient-block__text p {
    color: #615855; }
  .c-gradient-block__button {
    width: 40%;
    display: flex;
    justify-content: flex-end; }
    .c-gradient-block__button .btn {
      width: 170px;
      margin: 0; }

.c-ideas-background {
  margin: 0 -3rem 0 -3rem; }
  .c-ideas-background img {
    width: 100%; }

.c-mobile-devices-info {
  display: flex;
  justify-content: space-between; }
  .c-mobile-devices-info__img {
    width: 467px;
    display: flex; }
    .c-mobile-devices-info__img img {
      width: 100%; }
  .c-mobile-devices-info__text {
    width: 668px;
    padding-top: 11.6rem;
    padding-bottom: 17.9rem; }
  .c-mobile-devices-info__heading {
    margin-bottom: 4rem;
    color: #555555; }
  .c-mobile-devices-info__description {
    margin-bottom: 4rem;
    color: #8c8c8c; }
  .c-mobile-devices-info__list {
    padding-left: 4.9rem;
    color: #8c8c8c; }
  .c-mobile-devices-info__item {
    font-size: 1.6rem;
    display: flex;
    align-items: center; }
    .c-mobile-devices-info__item:not(:last-child) {
      margin-bottom: 1.2rem; }
  .c-mobile-devices-info__arrow-icon {
    width: 2.1rem;
    margin-right: 3rem; }
    .c-mobile-devices-info__arrow-icon img {
      width: 100%; }

.c-navigation {
  display: flex;
  justify-content: space-between; }
  .c-navigation__logotype {
    width: 181px; }
    .c-navigation__logotype img {
      width: 100%; }
  .c-navigation__list {
    display: flex; }
  .c-navigation__list-item {
    color: white;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-navigation__list-item:last-child {
      display: flex;
      padding: 0 0 0 4.8rem; }
  .c-navigation__card {
    margin-right: 2.7rem; }

.c-partners-logos {
  margin: 0; }

.c-projects-block__categories {
  margin-bottom: 4rem; }
.c-projects-block__button-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 25rem 0 25rem; }
.c-projects-block__button-cell {
  padding: 0 0.5rem 0 0.5rem; }
.c-projects-block__button {
  margin: 0;
  width: 100%;
  font-size: 1.4rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  background-color: lightgrey;
  border: 1px solid #ebebeb;
  background: white;
  color: #8c8c8c; }
  .c-projects-block__button--active {
    background: #998675;
    color: white; }
.c-projects-block__projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 4.1rem; }
.c-projects-block__item {
  background: #fbfaf8;
  cursor: pointer; }
  .c-projects-block__item * {
    transition: 0.1s; }
  .c-projects-block__item:hover .c-projects-block__description {
    background: #362f2d; }
  .c-projects-block__item:hover .c-projects-block__description::after {
    background: #362f2d; }
  .c-projects-block__item:hover .c-projects-block__description h1 {
    color: white; }
  .c-projects-block__item:hover .c-projects-block__description p {
    color: #c7b299; }
  .c-projects-block__item:hover .c-projects-block__hover-block {
    display: flex; }
.c-projects-block__photo {
  position: relative; }
  .c-projects-block__photo img {
    width: 100%; }
.c-projects-block__hover-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3); }
.c-projects-block__hover-elements {
  width: 80px;
  display: flex;
  justify-content: space-between; }
.c-projects-block__description {
  /*padding: 3.1rem 3rem 2.7rem 3rem;*/
  padding-top: 8.6592178771%;
  padding-right: 8.3798882682%;
  padding-bottom: 7.5418994413%;
  padding-left: 8.3798882682%;
  position: relative; }
  .c-projects-block__description::after {
    content: '';
    position: absolute;
    background: #fbfaf8;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    left: 2.9rem;
    top: -12px; }

.c-recent-posts-slider {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .c-recent-posts-slider__item {
    width: 37rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid whitesmoke; }
    .c-recent-posts-slider__item * {
      transition: 0.2s; }
    .c-recent-posts-slider__item:hover {
      background: #362f2d; }
    .c-recent-posts-slider__item:hover .c-recent-posts-slider__img-hovered-background {
      display: block; }
    .c-recent-posts-slider__item:hover .c-recent-posts-slider__date-day {
      background: #c7b299; }
    .c-recent-posts-slider__item:hover .c-recent-posts-slider__date-month {
      background: #a48d72; }
    .c-recent-posts-slider__item:hover .c-recent-posts-slider__title {
      color: #c7b299; }
    .c-recent-posts-slider__item:hover .c-recent-posts-slider__text {
      color: white; }
  .c-recent-posts-slider__img {
    width: 100%;
    position: relative; }
    .c-recent-posts-slider__img-hovered-background {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      display: none; }
    .c-recent-posts-slider__img img {
      width: 100%; }
  .c-recent-posts-slider__date {
    width: 5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 9999; }
    .c-recent-posts-slider__date-day {
      font-size: 2.4rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0.3rem 0.3rem 0 0;
      color: white;
      background: #363636; }
    .c-recent-posts-slider__date-month {
      font-size: 1.2rem;
      text-align: center;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      border-radius: 0 0 0.3rem 0.3rem;
      color: white;
      background: #252525; }
  .c-recent-posts-slider__description {
    padding: 3rem 2rem 3.3rem 2.9rem; }
  .c-recent-posts-slider__title {
    font-size: 2rem;
    margin-bottom: 1.9rem;
    color: #555555; }
  .c-recent-posts-slider__text {
    margin-bottom: 2.7rem;
    color: #8c8c8c; }
  .c-recent-posts-slider__link {
    color: #c7b299; }
  .c-recent-posts-slider__link-text {
    margin-left: 0.9rem; }
    .c-recent-posts-slider__link-text img {
      width: 4.95px !important;
      display: inline !important; }

.c-service-list {
  position: relative; }
  .c-service-list * {
    margin: 0; }
  .c-service-list__item {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .c-service-list__icon {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.1rem; }
    .c-service-list__icon svg {
      height: 40px; }
  .c-service-list__item-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.9rem; }
  .c-service-list__item-description {
    line-height: 1.714;
    text-align: center;
    margin-bottom: 3.3rem; }

.c-service-list__item:hover svg path {
  fill: #c7b299;
  transition: 0.2s; }

.c-service-list__item:hover .c-service-list__item-title {
  color: #c7b299;
  transition: 0.2s; }

.c-service-list__item::after {
  content: "";
  position: absolute;
  padding: 3px;
  background-color: #f1eee9;
  width: 70px;
  bottom: 0;
  transition: 0.2s; }

.c-service-list__item:hover::after {
  background-color: #c7b299; }

.c-text-block {
  padding: 0 18rem 0 18rem;
  margin-bottom: 4rem; }

.c-video-block__click {
  width: 100px;
  margin: 0 auto 4.4rem auto; }
  .c-video-block__click svg {
    width: 100%; }
.c-video-block__text h1 {
  margin-bottom: 2.9rem;
  color: white; }
.c-video-block__description {
  font-size: 1.6rem;
  text-align: center;
  padding: 0 28rem 0 28rem;
  margin-bottom: 4rem;
  color: white; }
.c-video-block__time {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #bdaa94; }

.owl-nav {
  position: absolute;
  width: 100%;
  top: 49rem;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 15rem; }

.owl-dots {
  position: absolute;
  bottom: 4.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .owl-dots span {
    width: 11px;
    height: 11px;
    display: block;
    margin: 0 0.6rem;
    border-radius: 100%;
    background: #959595;
    transition: 0.2s; }

.active span {
  border: 1px solid #d3c1ad;
  background: none;
  width: 12px;
  height: 12px; }

.c-recent-posts-slider .owl-nav {
  top: unset;
  bottom: -5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.c-recent-posts-slider .owl-nav * {
  margin: 0 0.3rem; }

.l-body {
  position: relative; }
  .l-body__header {
    position: absolute;
    z-index: 9999; }
  .l-body__main {
    position: relative; }

.l-header {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .l-header__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

.l-footer__website-info {
  background: #191919;
  padding-top: 10.8rem;
  padding-bottom: 8rem; }
.l-footer__inner {
  width: 1230px;
  padding: 0 3rem 0 3rem; }
.l-footer__info-list {
  padding: 40px; }
.l-footer__row {
  margin: 0 -0.7rem; }
.l-footer__blocks {
  padding: 0 0.7rem; }
.l-footer__item-head {
  margin: 0 0 1.2rem 0; }
.l-footer__item-list {
  margin: 0; }
.l-footer__item-list-cell {
  cursor: pointer;
  color: white; }
  .l-footer__item-list-cell * {
    transition: 0.2s; }
  .l-footer__item-list-cell:hover .l-footer__post-date {
    color: #e0e0e0; }
  .l-footer__item-list-cell:hover .l-footer__post-description {
    color: #c7b299; }
  .l-footer__item-list-cell:not(:last-child) {
    border-bottom: 1px solid #252525; }
.l-footer__post-date {
  margin: 0;
  padding: 2.1rem 0 1.1rem 0;
  font-size: 1.2rem;
  color: #363636; }
.l-footer__post-description {
  margin: 0;
  padding: 0 0 2.1rem 0;
  font-size: 1.4rem;
  color: #555555; }
.l-footer__twitter-item {
  cursor: pointer; }
  .l-footer__twitter-item:not(:last-child) {
    border-bottom: 1px solid #252525; }
.l-footer__twitter-description {
  margin: 0 0 1.1rem 0;
  font-size: 1.4rem;
  padding-top: 2rem;
  color: #555555; }
.l-footer__twitter-date-of-publication {
  font-size: 1.2rem;
  color: #363636;
  margin: 0;
  padding-bottom: 2.1rem; }
.l-footer__widget-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
.l-footer__widget-item {
  border: 1px solid blue; }
  .l-footer__widget-item img {
    width: 100%; }
.l-footer__logo-img {
  margin-top: -2.1rem;
  margin-bottom: 3.1rem; }
.l-footer__about-waxom-description {
  margin-bottom: 5.6rem; }
.l-footer__text {
  color: #555555; }
.l-footer__about-waxom-link {
  color: white; }
.l-footer__arrow {
  margin-left: 1rem;
  width: 5px; }
  .l-footer__arrow img {
    width: 0.7rem; }
.l-footer__copyright {
  background: #111111;
  padding-top: 4.5rem;
  padding-bottom: 5.2rem; }
.l-footer__copyright-inner {
  width: 1230px;
  padding: 0 3rem 0 3rem; }
.l-footer__lists {
  display: flex;
  justify-content: space-between; }
.l-footer__copyright-list {
  display: flex; }
.l-footer__copyright-list-item {
  padding-right: 1.3rem;
  color: #555555;
  cursor: pointer; }
  .l-footer__copyright-list-item:not(:first-child) {
    padding: 0 1.3rem; }
    .l-footer__copyright-list-item:not(:first-child):hover {
      color: #c7b299; }
  .l-footer__copyright-list-item:not(:last-child) {
    border-right: 1px solid #252525; }
.l-footer__copyright-author-list {
  display: flex; }
.l-footer__copyright-author-list-item {
  color: #555555; }
.l-footer__copyright-author-list-item:nth-child(1) {
  border-right: 1px solid #252525;
  padding: 0 1.3rem; }
.l-footer__copyright-author-list-item:nth-child(2) {
  padding: 0 0 0 1.3rem; }
.l-footer__copyright-bright-component {
  color: #959595; }

.p-index-counters {
  padding-top: 6.9rem;
  padding-bottom: 6rem;
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%); }
  .p-index-counters__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

.p-index-ideas {
  padding-top: 8.1rem; }
  .p-index-ideas__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }
  .p-index-ideas__heading {
    margin-bottom: 2.5rem; }
    .p-index-ideas__heading h1 {
      font-weight: 600;
      color: #555555; }

.p-index-main-slider {
  position: relative; }
  .p-index-main-slider__item {
    padding-top: 38rem;
    padding-bottom: 38rem; }
  .p-index-main-slider__title {
    text-align: center;
    margin: 0;
    color: white; }
    .p-index-main-slider__title:nth-child(1) {
      font-size: 3.6rem;
      margin-bottom: 1.5rem; }
    .p-index-main-slider__title:nth-child(2) {
      font-size: 5.2rem;
      font-weight: bold;
      margin-bottom: 2.1rem; }
    .p-index-main-slider__title:nth-child(3) {
      font-size: 1.6rem;
      margin-bottom: 5.4rem; }

.btn {
  margin: 0 auto;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  background-color: #998675;
  width: 170px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 0 auto; }

.first-slide {
  background-image: url(../img/main-slider-img.jpg); }

.second-slide {
  background-image: url(../img/main-slider-img2.jpg); }

.third-slide {
  background-image: url(../img/main-slider-img3.jpg); }

.p-index-mobile-devices {
  padding-top: 7.9rem; }
  .p-index-mobile-devices__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

.p-index-partners {
  padding-top: 14rem;
  padding-bottom: 13.9rem;
  background-image: url(../img/partners-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .p-index-partners__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

.p-index-projects {
  padding-top: 8.1rem;
  padding-bottom: 8.1rem; }
  .p-index-projects__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }
  .p-index-projects__heading {
    margin-bottom: 2.6rem; }

.p-index-recent-posts {
  padding-top: 8.2rem;
  padding-bottom: 14.1rem; }
  .p-index-recent-posts__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }
  .p-index-recent-posts__heading {
    margin-bottom: 3rem; }
    .p-index-recent-posts__heading h1 {
      font-weight: 600;
      color: #555555; }

.p-index-service {
  padding-top: 8.1rem;
  padding-bottom: 8.1rem; }
  .p-index-service__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

.p-index-video-presentation {
  padding-top: 21rem;
  padding-bottom: 20.7rem;
  background-image: url(../img/video-presentation.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .p-index-video-presentation__inner {
    width: 1230px;
    padding: 0 3rem 0 3rem; }

/*# sourceMappingURL=style.css.map */
