.p-index-recent-posts {
	padding-top: 8.2rem;
	padding-bottom: 14.1rem;
	
	&__inner {
		@include containers;
	}

	&__heading {
		margin-bottom: 3rem;
		& h1 {
			font-weight: 600;
			color: $heading-color;
		}
	}

}