.p-index-video-presentation {
	padding-top: 21rem;
	padding-bottom: 20.7rem;
	background-image: url(../img/video-presentation.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__inner {
		@include containers;
	}
}