.p-index-partners {
	padding-top: 14rem;
	padding-bottom: 13.9rem;
	background-image: url(../img/partners-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__inner {
		@include containers;
	}
}