.l-footer {

	&__website-info {
		background: $footer-background;
		padding-top: 10.8rem;
		padding-bottom: 8rem;
	}

	&__inner {
		@include containers;
	}
	&__info-list {
		padding: 40px;
	}

	&__row {
		margin: 0 -0.7rem;
	}
	&__blocks {
		padding: 0 0.7rem;
	}

	&__item-head {
		margin: 0 0 1.2rem 0;
	}
	&__item-list {
		margin: 0;
	}
	&__item-list-cell {
		cursor: pointer;
		color: white;

		& * {
			transition: 0.2s;
		}
		&:hover .l-footer__post-date {
			color: $footer-hovered-date;
		}
		&:hover .l-footer__post-description {
			color: rgb(199, 178, 153);
		}
		&:not(:last-child){
			border-bottom: 1px solid $footer-item-lines;
		}
	}
	&__post-date {
		margin: 0;
		padding: 2.1rem 0 1.1rem 0;
		font-size: 1.2rem;
		color: $footer-item-dates-color;
	}
	&__post-description {
		margin: 0;
		padding: 0 0 2.1rem 0;
		font-size: 1.4rem;
		color: $footer-item-description-color;
	}

	
	&__twitter-item {
		cursor: pointer;
		&:not(:last-child){
			border-bottom: 1px solid $footer-item-lines;
		}
	}
	&__twitter-description {
		margin: 0 0 1.1rem 0;
		font-size: 1.4rem;
		padding-top: 2rem;
		color: $footer-item-description-color;
	}

	&__twitter-date-of-publication {
		font-size: 1.2rem;
		color: $footer-item-dates-color;
		margin: 0;
		padding-bottom: 2.1rem;
	}

	&__widget-images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
	&__widget-item {
		border: 1px solid blue;

		& img {
			width: 100%;
		}
	}
	&__logo-img {
		margin-top: -2.1rem;
		margin-bottom: 3.1rem;
	}
	&__about-waxom-description {
		margin-bottom: 5.6rem;
	}
	&__text {
		color: $footer-item-description-color;
	}
	&__about-waxom-link {
		color: white;
	}

	&__arrow {
		margin-left: 1rem;
		width: 5px;

		& img {
			width: 0.7rem;
		}
	}

	&__copyright {
		background: $footer-copyright;
		padding-top: 4.5rem;
		padding-bottom: 5.2rem;
	}

	&__copyright-inner {
		@include containers;
	}
	
	&__lists {
		display: flex;
		justify-content: space-between;
	}
	&__copyright-list {
		display: flex;
	}

	&__copyright-list-item {
		padding-right: 1.3rem;
		color: $footer-copyright-component-colors;
		cursor: pointer;

		&:not(:first-child) {
			padding: 0 1.3rem;

			&:hover {
				color: $footer-hovered-list-items;
			}
		}
		&:not(:last-child) {
			border-right: 1px solid rgb(37, 37, 37);
		}
	}

	&__copyright-author-list {
		display: flex;
	}
	&__copyright-author-list-item {
		color: $footer-copyright-component-colors;
	}
	&__copyright-author-list-item:nth-child(1) {
		border-right: 1px solid rgb(37, 37, 37);;
		padding: 0 1.3rem;
	}
	&__copyright-author-list-item:nth-child(2) {
		padding: 0 0 0 1.3rem;
	}
	&__copyright-bright-component {
		color: $footer-copyright-component-bright;
	}
}