.c-mobile-devices-info {
	display: flex;
	justify-content: space-between;

	&__img {
		width: 467px;
		display: flex;

		& img {
			width: 100%;
		}
	}

	&__text {
		width: 668px;
		padding-top: 11.6rem;
		padding-bottom: 17.9rem;
	}

	&__heading {
		margin-bottom: 4rem;
		color: $heading-color;
	}
	&__description {
		margin-bottom: 4rem;
		color: $description-color;
	}
	&__list {
		padding-left: 4.9rem;
		color: $list-color;
	}
	&__item {
		font-size: 1.6rem;
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}

	&__arrow-icon {
		width: 2.1rem;
		margin-right: 3rem;

		& img {
			width: 100%;
		}
	}
}
