.c-navigation {
	display: flex;
	justify-content: space-between;

	&__logotype {
		width: 181px;

		& img {
			width: 100%;
		}
	}
	&__list {
		display: flex;
	}
	&__list-item {
		color: white;
		padding: 0 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&:last-child {
			display: flex;
			padding: 0 0 0 4.8rem;
		}
	}
	&__card {
		margin-right: 2.7rem;
	}
}