
.c-navigation {
	@include containers;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	border: 1px solid red;
	
	&__logo {
		width: 181px;
	}

	&__menu {
		width: 770px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu-list {
		display: flex;
		color: $primary-nav-list;
	}

	&__item {
		padding-right: 28px;
	}

	&__icons {
		width: 70px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		& img {
			display: block;
		}
	}
}
