
.c-projects-block {

	&__categories {
		margin-bottom: 4rem;
	}

	&__button-group {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		padding: 0 25rem 0 25rem;
	}
	&__button-cell {
		padding: 0 0.5rem 0 0.5rem;
	}
	&__button {
		margin: 0;
		width: 100%;
		font-size: 1.4rem;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		background-color: lightgrey;
		border: 1px solid rgb(235, 235, 235);
		background: white;
		color: $button-color;

		&--active {
			background: rgb(153, 134, 117);
			color: white;

		}
	}

	&__projects-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5rem;
		margin-bottom: 4.1rem;
	}
	&__item {
		background: $items-background;
		cursor: pointer;
		& * {
			transition: 0.1s;
		}

		&:hover .c-projects-block__description {
			background: $project-hovered-cards;
		};

		&:hover .c-projects-block__description::after {
			background: $project-hovered-cards;
		};
		&:hover .c-projects-block__description h1 {
			color: $project-hovered-cards-text;
		}
		&:hover .c-projects-block__description p {
			color: $light-brown-theme;
		}
		&:hover .c-projects-block__hover-block {
			display: flex;
		}
	}

	&__photo {
		position: relative;
		& img {
			width: 100%;
		}
	}

	&__hover-block {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
	}
	
	&__hover-elements {
		width: 80px;
		display: flex;
		justify-content: space-between;
	}
	&__description {
		/*padding: 3.1rem 3rem 2.7rem 3rem;*/
		padding-top: 31 / 358 * 100%;
		padding-right: 30 / 358 * 100%;
		padding-bottom: 27 / 358 * 100%;
		padding-left: 30 / 358 * 100%;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background: $items-background;
			width: 35px;
			height: 35px;
			transform: rotate(45deg);
			left: 2.9rem;
			top: -12px;
		}
	}
}
