body {
	font-family: 'Montserrat', sans-serif;
}

p {
	line-height: 1.714;
	margin: 0;
}
h1 {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
.t-heading {
	margin: 0;
	font-size: 3rem;
	border: 1px solid black;
	&--centered {
		text-align: center;
	}
}

.t-paragraph {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.75;
	border: 1px solid red;
	margin-bottom: 4.1rem;

	&--centered {
		text-align: center;
	}

	&--default {
		margin: 0;
	}
}
.t-projects-heading {
	margin: 0 0 1.4rem 0;
	font-size: 2rem;
}
.t-projects-description {
	margin: 0;
	font-size: 1.4rem;
}

.t-footer-heading {
	font-size: 2.4rem;
	font-weight: bold;
	margin: 0;
	color: white;
}