body {
	font-family: 'Montserrat', sans-serif;
}
.t-heading {
	margin: 0;
	font-size: 3rem;
	border: 1px solid black;
	&--centered {
		text-align: center;
	}
}

.t-paragraph {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.75;
	border: 1px solid red;
	margin-bottom: 4.1rem;

	&--centered {
		text-align: center;
	}

	&--default {
		margin: 0;
	}
}
