// Color theme

$primary-theme: rgb(255, 255, 255) !default;
$dark-theme: rgb(33, 27, 25) !default;
$brown-theme: rgb(78, 52, 39) !default;
$light-grey-theme: rgb(97, 88, 85) !default;
$light-grey-theme-second-variant: rgb(140, 140, 140) !default;
$dark-brown-theme: rgb(54, 47, 45) !default;
$light-brown-theme: rgb(199, 178, 153) !default;

// Link hover
$link-hover: rgb(199, 178, 153) !default;

// Headings
$heading-color: rgb(85, 85, 85) !default;

// Paragraphs
$description-color: rgb(140, 140, 140) !default;


// Typography color
$primary-headings: $primary-theme;
$primary-nav-list: $primary-theme;
$light-grey-text: $light-grey-theme;
$button-light: $primary-theme;

// Project list
$project-hovered-cards: $dark-brown-theme;
$project-hovered-cards-text: $primary-theme;
$button-color: $light-grey-theme-second-variant;
$items-background: rgb(251, 250, 248) !default;

// Mobile Devices Component colors
$list-color: rgb(140, 140, 140) !default;

// Recent Posts Component colors
$recent-post-date-day: rgb(54, 54, 54) !default;
$recent-post-date-month: rgb(37, 37, 37) !default;
$link-color: rgb(199, 178, 153) !default;

$hovered-img-background: rgba(0, 0, 0, 0.5) !default;
$hovered-card: rgb(54, 47, 45) !default;
$hovered-day: rgb(199, 178, 153) !default;
$hovered-month: rgb(164, 141, 114) !default;
$hovered-heading: rgb(199, 178, 153) !default;
$hovered-paragraph: rgb(255, 255, 255) !default;


// Footer
$footer-background: rgb(25, 25, 25) !default;
$footer-copyright: rgb(17, 17, 17) !default;
$footer-item-lines: rgb(37, 37, 37) !default;
$footer-item-dates-color: rgb(54, 54, 54) !default;
$footer-item-description-color: rgb(85, 85, 85) !default;
$footer-hovered-date: rgb(224, 224, 224) !default;
$footer-hovered-description: rgb(199, 178, 153) !default;
$footer-copyright-component-colors: rgb(85, 85, 85) !default;
$footer-copyright-component-bright: rgb(149, 149, 149) !default;
$footer-hovered-list-items: rgb(199, 178, 153) !default;